@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

$primary: #FFC300;
$secondary: #FFD60A;
$dark-gold: #715f00;
$body-color: $primary;
$navbar-light-color: $primary;
$navbar-light-hover-color: lighten($navbar-light-color, 30%);
$navbar-light-active-color: $secondary;

$input-color: $dark-gold;
$input-focus-color: #000000;
$input-focus-border-color: $dark-gold;
$input-focus-box-shadow: 0 0 0 0.2rem rgba(248, 228, 149, 0.25);

@import '../node_modules/bootstrap/scss/bootstrap.scss';
